/*
selector {
    właściwość: wartość;
}
*/
body{
    background-color: rgb(238, 174, 197);
}

.topArticle{
    border: 5px dashed rgb(238, 174, 197);
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1{
    border:10px dashed rgb(238, 174, 197);
    padding:10px;
    margin: 10px;
    background-color: rgb(238, 174, 197);}

.topheader{
    border:2px dashed rgb(238, 174, 197);;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px}


.topheader h1,
.topheader nav {
    border: 5px solid rgb(238, 174, 197);;
    margin: 2px;
}

.messageform{
    border: 2px dashed rgb(238, 174, 197);;
    display: flex;
    flex-direction: column;

    
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding:17px;
}

/* obsłuż tylko headery wenwątrz .topArticle */
.topArticle header{
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
background-color: rgb(238, 174, 197);
}

.topArticle{
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .topArticle{
        flex-direction: row;
    }
    
    @media (min-width: 768px){
        .messageform{
            flex-direction: row;
            align-items: column;
        }
    }
}